/*
Color1: #010400
Color1: #30332E
Color1: #FFFBFC
Color1: #62BBC1 
Color1: #EC058E
*/



* {
  margin : 0 ;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html , body {
  min-height: 100vh;
}

button[disabled] {
  cursor: initial !important;
  background: #e5e5e5;
}

#main-header {
  padding: 0.5rem 1rem;
  height: 70px;
  background-color: #62BBC1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

#main-header nav {
  display: flex;
  align-items: center;
}

#main-header nav a {
  padding: 8px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

#main-header nav a:hover {
  color: #010400;
  transition: color .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#main-header nav .shopping-cart {
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  margin-left: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .227s ease-in-out, border-color .227s ease-in-out;
}

#main-header nav .shopping-cart:hover {
  background-color: #ca0377;
  border-color: #ca0377;
}

#main-header nav .shopping-cart .username {
  font-size: 12px;
  font-weight: 500;
  padding-right: 8px;
  margin-top: 2px;
}

#main-header nav .shopping-cart .material-icons {
  font-size: 18px;
}

#main-header nav .cart-widget {
  position: relative;
}

#main-header nav .cart-widget .shopping-cart__details {
  position: absolute;
  top: 40px;
  background-color: white;
  width: 300px;
  right: 0;
  padding: 16px;
  border-radius: 3px;
  box-shadow: 0 0 30px -6px rgb(0 0 0 / 30%);
  visibility: visible;
  opacity: 1;
  transition: opacity .227s ease-in-out;
}

#main-header nav .cart-widget .shopping-cart__details.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity .227s ease-in-out;
}

main {
  min-height: calc(100vh - 70px - 60px);
  height: 100%;
  padding: 2rem 1rem;
}

.section__title {
  color: #ca0377;
  text-transform: capitalize;
}

.product__container {
  height: auto;
}

.product__details {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 32px;
}

@media screen and (max-width: 991px) {
  .product__details {
    grid-template-columns: 1fr;
  } 
}



.product__details-cont h2 {
  color: #ca0377;
  margin-bottom: 3rem;
}

.product__details img {
  max-width: 500px;
  max-height: 600px;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .product__details img {
    max-width: 100%;
  } 
}

.product__details__description-title {
  margin-bottom: 1rem;
}

.product__details__description-text {
  margin-bottom: 2rem;
}

.product__details__stock {
  margin-bottom: 2rem;
}

.product__details__stock span {
  color: #ca0377;
  font-weight: bold;
}

.product__details__cat {
  margin-bottom: 2rem;
}

.product__details__cat a {
  text-decoration: none;
  color: #ca0377;
  margin-left: 4px;
  transition: .876s color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product__details__cat a:hover {
  color: #37898f;
  transition: .876s color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product__details__rating {
  margin-bottom: 2rem;
}

.product__details__price {
  margin-bottom: 2rem;
}

.product__details .qtty-btns {
  margin-top: 2rem;
  justify-content: flex-start;
}

.loading {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ca0377;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin: 2rem 0;
}

@media screen and (max-width: 1400px) {
  .product__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .product__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product__item {
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 2.5rem 2rem;
  position: relative;
}

@media screen and (max-width: 991px) {
  .product__item {
    padding: 2rem;
    max-width: 450px;
    width: 100%;
    margin: auto;
  }
}

.product__item__img {
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto 2rem;
}

@media screen and (max-width: 991px) {
  .product__item__img {
    height: 300px;
    width: 250px;
  }
}

.product__item__img img {
  max-width: 100%;
  max-height: 100%;
}

.product__item a, .product__itema:-webkit-any-link {
  text-decoration: none;
  color: #ca0377;
  transition: .876s color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product__item a:hover, .product__itema:-webkit-any-link:hover {
  text-decoration: none;
  color: #37898f;
  transition: .876s color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product__item__title {
  margin-bottom: 32px;
}

.product__item__price {
  position: absolute;
  color: #ca0377;
  top: 16px;
  right: 16px;
}

.qtty-btns {
  margin: auto;
  display: flex;
  justify-content: center;
}

.qtty-btns button {
  cursor: pointer;
  height: 50px;
  vertical-align: middle;
  min-width: 60px;
  border: 0;
  color: #ca0377;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .876s color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.qtty-btns button:hover {
  color: #37898f;
  transition: .876s color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.qtty-btns button[disabled] {
  cursor: initial !important;
  background: #e5e5e5;
  color: #999999;
}

.qtty-btns button:first-child {
  border-radius: 200px 0 0 200px;
}

.qtty-btns button:last-child {
  border-radius: 0 200px 200px 0;
}



@media screen and (max-width: 991px) {
  .qtty-btns button {
    height: 55px;
    min-width: 55px;    
  }

  .qtty-btns .btn__add-cart {
    width: calc(100% - 110px);
  }
}

.qtty-btns .btn__add-cart {
  padding: 0 1rem;
  min-width: 150px;
  background: #d7d7d7;
}

footer {
  height: 60px;
  background-color: #30332E;
  color: #ffffff;
  padding: 16px;
}

footer #copyright {
  text-align: center;
}

footer #copyright span {
  color: #EC058E;
}

footer #copyright a {
  color: #62BBC1;

}

footer #copyright a:hover {
  color: #EC058E;

}

footer nav a:hover {
  color: #62BBC1;
}